#root {
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(90, 90, 90);
}

#toolbar{
  background-color: rgb(70, 70, 70);
  padding: 0px !important;
  border-bottom: inset 1px rgb(140, 140, 140);
}

mat-toolbar button{
  text-decoration-line: underline !important;
  text-decoration-style: solid !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
  height: 85%;
}

.white{
  color: white !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.blue{
  color: rgb(0, 162, 255) !important;
  background-color: rgba(0, 162, 255, 0.1) !important;
}

.orange{
  color: rgb(255, 153, 0) !important;
  background-color: rgb(255, 153, 0, 0.1) !important;
}

.red{
  color: rgb(255, 0, 0) !important;
  background-color: rgba(255, 0, 0, 0.1) !important;
}
