<nav>
  <mat-toolbar color="primary" id="toolbar">
    <button mat-button routerLink='/'>{{title}}</button>
    <span style="flex: 1 1 auto;"></span>
    <button *ngIf='!auth.isLoggedIn()' mat-button (click)="openRegister()">Register</button>
    <button *ngIf='!auth.isLoggedIn()' mat-button (click)="openLogin()">LogIn</button>
    <button *ngIf='auth.isLoggedIn()' routerLink='/profile' mat-button>{{auth.getUserDetails().name}}</button>
    <button *ngIf='auth.isLoggedIn()' mat-button color="warn" (click)="logout()">LogOut</button>
  </mat-toolbar>
</nav>
<div id="root" [@routerAnimation]='prepareRouteTransition(outlet)'>
  <router-outlet #outlet="outlet"></router-outlet>
</div>


<div id="buttonAddTask" *ngIf='auth.isLoggedIn()' @buttonAnimation>
  <button mat-fab color="primary">+</button>
</div>
