<mat-card>
  <mat-card-title>
    <h1>My Profile</h1>
  </mat-card-title>
  <mat-card-content>
    <h1>Name: {{details?.name}}</h1>
    <h2>Email: {{details?.email}}</h2>
  </mat-card-content>
</mat-card>

<div id="myPostsLabel">MY POSTS</div>

<div id="tasks" [@cardFadeIn]="myPosts.length">
  <app-taskcard class="TaskLink"
    *ngFor="let post of myPosts"
      [routerLink]='["/post", post?._id]'
      [postId]='post?._id'
      [title]='post?.title'
      [description]='post?.description'>
  </app-taskcard>
</div>
