<div class='HeaderText'>MY PROFILE</div>
<mat-card>
  <mat-card-title>
    <h1>Name: {{details?.name}}</h1>
  </mat-card-title>
  <mat-card-content>
    <h2>Email: {{details?.email}}</h2>
  </mat-card-content>
</mat-card>

<br>
<div class='HeaderText'>MY POSTS</div>

<div id="tasks" [@cardFadeIn]="posts.myPostsArray.length">
  <app-taskcard class="TaskLink"
    *ngFor="let post of posts.myPostsArray"
      [postId]='post?._id'
      [title]='post?.title'
      [shortDescription]='post?.shortDescription'
      [totalMessages]='post?.totalMessages'
      [totalAnswers]='post?.totalAnswers'
      [datePosted]='post?.postedOn'
      [authorised]='true'
    >
  </app-taskcard>
</div>
