<!-- <app-taskcard
  *ngIf='task'
  [title]='task?.title'
  [author]='task?.author?.name'
  [description]='task?.description'
>
</app-taskcard> -->
<div id="container">
  <div id="left">
    <mat-card class="center" style="width: 80%;">
      <mat-card-title>{{task?.title}}</mat-card-title>
      <mat-card-subtitle>{{task?.userId?.name}}</mat-card-subtitle>
    </mat-card>
    <mat-card class="center" style="width: 80%;">
      <mat-card-title>DESCRIPTION</mat-card-title>
      <mat-card-content>{{task?.fullDescription}}</mat-card-content>
    </mat-card>
  </div>

  <div id="right">
    <h1 class="CenterFancyText">MESSAGE / COMMENTS</h1>
    <app-messagecard
      *ngFor="let message of messageSevice.messageArray"
        [message]='message'
        [authorized]='authorizedToMarkAnswers'
        (answered)='updateMessageStatus(message)'
    >
    </app-messagecard>
  </div>
</div>
