<div *ngIf='postService.postsArray.length <= 0' id="noWorkText">
  NO WORK POSTED
</div>

<div *ngIf='postService.postsArray.length > 0' id="WorkText">
  LATEST POSTS
</div>

<div id="tasks" [@cardFadeIn]="postService.postsArray.length">
  <app-taskcard class="TaskLink"
      *ngFor="let post of postService.postsArray"
        [routerLink]='["/post", post?._id]'
        [postId]='post?._id'
        [title]='post?.title'
        [author]='post?.author.name'
        [description]='post?.description'>
  </app-taskcard>
</div>

<!-- <div id="tasks" >
    <app-taskcard
        *ngFor="let post of postService.posts | async"
          [title]='post?.title'
          [author]='post?.author.name'
          [description]='post?.description'>
    </app-taskcard>
</div> -->
